.login-image {
    background-image: url('../../image/back.svg');
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 90%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.input-style {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}